@font-face {
  font-family: 'Lato';
  src: url('../fonts/woff2/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/woff2/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/woff2/Lato-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* переменные css */
:root {
  /* переменные цвета */
  --colorWhite: #ffffff;
  --colorBlack: #000000;
}
/* переменные less */
/* переменные вьюпорта */
/* центровщик */
/* переменные плотности экрана */
/* центровщик контента */
/* кастомный фокус */
/* параметры текста mibile */
/* параметры текста tablet */
/* параметры текста desktop */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--colorBlack);
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 38px;
  }
}
/* только для скринридера */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/* настройки кастомного фокуса */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}
/* сслыка пропуска меню */
.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  padding: 10px;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
}
.skip-link:focus {
  top: 0;
}
a:hover {
  cursor: pointer;
}
figure {
  margin: 0;
  padding: 0;
}
/* Bootstrap */
