html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  .fontTextMobile();
  color: var(--colorBlack2);

  @media (min-width: @tabletWidth) {
    .fontTextTablet();
  }

  @media (min-width: @desktopWidth) {
    .fontTextDesktop();
  }
}

/* только для скринридера */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

/* настройки кастомного фокуса */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  .focusCustom(var(--colorBlack));
}

.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}

/* сслыка пропуска меню */

.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;

  padding: 10px;

  color: var(--colorBlack);

  background-color: var(--colorWhite);
}

.skip-link:focus {
  top: 0;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

/* Bootstrap */

h2 {
  .fontH2Mobile();
  text-transform: uppercase;
  letter-spacing: 10px;

  @media (min-width: @tabletWidth) {
    .fontH2Tablet();
  }

  @media (min-width: @desktopWidth) {
    .fontH2Desktop();
  }
}

h3 {
  .fontH3Tablet();

  @media (min-width: @tabletWidth) {
    .fontH3Tablet();
  }

  @media (min-width: @desktopWidth) {
    .fontH3Desktop();
  }
}

.small {
  .fontSmallMobile();

  @media (min-width: @tabletWidth) {
    .fontSmallTablet();
  }

  @media (min-width: @desktopWidth) {
    .fontSmallDesktop();
  }
}

.container {
  padding: 80px 120px;
}

.navbar-inverse {
  border: none;
  background-color: var(--colorBlack3);
  opacity: 0.9;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: var(--colorWhite2);
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.img-circle {
  width: 80%;
  height: 80%;
  margin: 0 auto;

  border: 10px solid transparent;
  opacity: 0.7;
  filter: grayscale(100%);

  &:hover {
    border-color: var(--colorGrey);
    transform: scale(1.02);
  }
}

.carousel {

  & img {
    width: 100%;
    height: auto;

    filter: grayscale(100%);
  }
}

.carousel-caption {
  display: none;

  color: var(--colorWhite2);

  @media (min-width: @tabletWidth) {
    display: block;
  }
}

section:nth-child(2) {
  color: var(--colorWhite2);
  background-color: var(--colorBlack3);
}

footer img {
  width: 100%;
  height: auto;
}
